{{- define "main" -}}

{{- if and .IsHome .Content -}}
<article class="prose mb-12 max-w-none">
  {{- .Content -}}
</article>
{{- end -}}

<!-- Tag Title -->
{{- if and .Title (eq .Type "tags") -}}
<h1 class="mb-14">#{{- .Title -}}</h1>
{{- end -}}

<!-- $pages -->
{{- $pages := union .RegularPages .Sections -}}<!---->
{{- if .IsHome -}}<!---->
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}<!---->
{{- end -}}

<!-- Articles -->
{{- $paginator := .Paginate $pages -}} {{- range $index, $page :=
$paginator.Pages -}}<!---->

{{- end -}}

<!-- Main Nav -->
{{- if gt $paginator.TotalPages 1 -}}
<nav class="mt-14 flex">
  {{- if $paginator.HasPrev -}}
  <a class="btn not-prose" href="{{- $paginator.Prev.URL -}}"
    >← {{- i18n "prev_page" -}}</a
  >
  {{- end -}}<!---->
  {{- if $paginator.HasNext -}}
  <a class="btn not-prose ml-auto" href="{{- $paginator.Next.URL -}}"
    >{{- i18n "next_page" -}} →</a
  >
  {{- end -}}
</nav>
{{- end -}}<!---->

{{- end -}}
